.cart h4,
.cart h5,
.support p {
  margin: 0;
  color: var(--main-color);
}
.adver,
.baked,
.fruits,
.juice {
  background-size: cover;
  background-repeat: no-repeat;
}
.cart h4,
.cart h5,
.collection a,
.support p {
  color: var(--main-color);
}
.trending li::after,
.trending li:first-of-type:after {
  height: 2px;
  bottom: -34px;
  transition: width 0.4s;
  background-color: #ffc107;
}
#back-to-top,
.blog img,
.card-body i,
.cart h4,
.cart h5,
.category .box,
.social i,
.trending li {
  cursor: pointer;
}
:root {
  --body-font: "Open Sans", sans-serif;
  --heading-font: "Nunito", sans-serif;
}
* {
  --main-color: rgb(174, 174, 174);
}
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #d6dee1;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ffc107;
}
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #263038;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
.natural,
.sale {
  font-size: 33px;
  font-weight: 400;
  width: fit-content;
  letter-spacing: 1.5px;
}
.loader:after,
.loader:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s linear infinite spin;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}
@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0 0 0 currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0 currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0 -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}
header .container-fluid {
  gap: 30px;
}
header .form-control,
header .select select {
  background-color: #eee;
  padding: 15px 40px;
  border-radius: 20px;
  color: var(--main-color);
}
form i {
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
.icons div {
  background-color: #eee;
  padding: 10px;
  border-radius: 25px;
}
.download > div,
.looking-for a {
  background-color: rgb(255 249 235);
}
@media (max-width: 575.98px) {
  header .container-fluid {
    flex-direction: column;
    gap: 15px;
  }
  .cart,
  .form,
  .support {
    display: none;
  }
  .icons {
    justify-content: space-between;
  }
}
.Chocolate,
.creamy,
.heading .number {
  border-radius: 20px;
}
nav {
  background-color: #fff;
}
nav .nav-item {
  font-size: 17px;
  margin-right: 10px;
}
.adver {
  background-image: url(../images/background-pattern.jpg);
  margin-top: 110px;
}
.baked,
.fruits,
.juice {
  background-position: right bottom;
  border-radius: 20px;
}
.creamy,
.juice {
  background-color: #e6f3fa;
}
.fruits {
  background-image: url(../images/slide-3.jpg);
}
.baked {
  background-image: url(../images/slide-4.jpg);
}
.sale {
  position: relative;
}
.sale::after {
  content: " SALE";
  position: absolute;
  font-size: 10px;
  bottom: -26px;
  right: 0;
}
.sale::before,
.trending li::after,
.trending li:first-of-type:after {
  content: "";
  position: absolute;
  left: 0;
}
.sale::before {
  width: 74%;
  height: 1px;
  background-color: #000;
  bottom: -20px;
}
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #555;
}
.category .box {
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.Best-selling .card:hover,
.brands .card,
.category .box:hover,
.trending .card:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.category .box:hover {
  transform: translateY(-10px);
}
.category .box h5 {
  white-space: nowrap;
}
.Best-selling .card,
.blog .card,
.trending .card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.brands .card h5,
.brands .card h6,
.card-text span:not(.star),
.download .row p,
.form label {
  color: gray;
}
.trending li::after {
  width: 0;
}
.trending li:first-of-type:after {
  width: 100%;
}
.trending li:hover::after {
  width: 100%;
  display: block;
}
.Best-selling .card,
.trending .card {
  transition: 0.3s;
}
.Best-selling .card .image-container img,
.trending .card .image-container img {
  background-color: #f9f9f9;
  max-height: 210px;
}
.Best-selling .card .image-container span,
.trending .card .image-container span {
  left: 10px;
  top: 20px;
}
.Best-selling .card .image-container .icon-container,
.trending .card .image-container .icon-container {
  right: 10px;
  top: 15px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  transition: 0.5s ease-in-out;
  background-color: #fff;
}
.image-container .icon-container:hover i {
  color: #fff;
}
.image-container .icon-container:hover {
  background-color: red !important;
}
.Chocolate {
  background-color: #f9ebe7;
}
.phone-img {
  margin-top: -50px;
  margin-bottom: -50px;
}
.looking-for a {
  color: gray;
  border: none;
}
.features p {
  color: gray;
  line-height: 1.5;
}
.social i,
.social i:hover {
  padding: 12px;
  border-radius: 50%;
}
.social i {
  background-color: #8080802e;
  transition: 0.5s;
  margin-bottom: 20px;
}
.social i:hover {
  background-color: #ffc107;
  color: #fff;
}
footer ul li {
  color: gray;
  margin-bottom: 10px;
}
footer p {
  color: gray;
  line-height: 2;
}
.bottom-footer div {
  color: gray;
  font-size: 17px;
}
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
}
.read-more {
  text-decoration: none;
  color: #2480d1;
}
